* {
  margin:  0;
}

body {
  width: 100%;
}

header {
  max-height:  10vh;
}

h2 {
  color:  gold;
  margin-bottom: 5px;
}
h3 {
  color:  green;
}
#messages {
  font-size: 48px;
  color: red;
}
#game-board {
  height: 50vh;
  max-height: 50vh;
  max-width:  400px;
  padding: 10px;
}

#game-keyboard {
  max-height:  30vh;
  padding:  10px;
}

.word-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  touch-action: manipulation;
  height:  20%;
}

#game-keyboard button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

#game-keyboard .key-default {
    background-color: black;
    color: lightblue;
}

.game-tile {
  flex: 1 1 0px;
  border: 1px solid grey;
  margin: 3px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  user-select: none;
} 

.centered {
  margin:  0 auto;
  text-align: center;
} 

.keyboard-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto 10px;
  touch-action: manipulation;
}

.correct-letter {
  background:  green;
  color:  white;
}

.contains-letter {
  background:  darkkhaki;
  color:  white;
}

.nope-letter {
  background: lightgray;
}
.correct-key-letter {
  background: green;
  color:  white;
}
.nope-key-letter {
  background: lightgray;
}

#game-wrapper {
  min-width: 300px;
  max-width:  600px;
  min-height: 500px;
  max-height: 500px;
}

  
