* {
  margin:  0;
}

p {
  margin: 10px;
}

body {
  height: 100vh;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

header h2 {
  color: blue;
  margin: 10px;
  font-size:  2em;
  letter-spacing: 10px;
}
h3 {
  color:  green;
}
#close-stats-modal {
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: large;
}
#messages {
  padding-top: 10px;
  font-size: large;
  color: red;
}
#game-board {
  height: 50vh;
  max-height: 50vh;
  width:  80%;
  max-width:  400px;
  padding: 10px;
}

#game-keyboard {
  max-height:  30vh;
  padding:  10px;
}

.word-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 2rem;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  touch-action: manipulation;
  height:  20%;
  margin:  5px;
}

#game-keyboard button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    min-height: 48px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

#game-keyboard .key-default {
    background-color: black;
    color: lightblue;
}

.game-tile {
  display: flex;
  flex: 1 1 0px;
  border: 1px solid grey;
  margin: 1px;
  font-size: 2rem;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  padding:  10px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
} 

.centered {
  margin:  0 auto;
  text-align: center;
  vertical-align: middle;
} 

.left-aligned {
  text-align: left;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto 5px;
  touch-action: manipulation;
}

.correct-letter {
  background:  #6aaa64;
  color:  white;
  border: none;
}

.contains-letter {
  background:  darkkhaki;
  color:  white;
  border: none;
}

.nope-letter {
  background: lightgray;
  border:  none;
}
.correct-key-letter {
  background: #6aaa64;
  color:  white;
}
.nope-key-letter {
  background: lightgray;
}

#game-wrapper {
  min-width: 300px;
  max-width:  500px;
  min-height: 400px;
  max-height: 500px;
}

.modal-messages {
  font-size: large;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

.footballred {
   color: #C60C30;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #C60C30;
}

.footballblue {
  color: #00338D;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00338D;
}

.hockeygold {
  color: #FCB514;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FCB514;
}

.hockeyblue {
  color: #002654;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #002654;
}

.basketballorange {
  color: #ff6314;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff6314;
}

.basketballblack {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #black;
}

.lacrosse {
  color:  #f58220;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f58220;
}

.footballbluetext {
  color: #00338D;
}

.site-header {
  display: flex;
  flex-direction: row;
  width:  100%;
  border-bottom: solid black 1px;
  justify-content: space-evenly;
  align-items: center;
}
  
.letterAnimation {
  -webkit-animation: letterAnimation 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: letterAnimation 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.special-key {
  min-width:  13%;
}

.letter-border {
  border: solid black 2px;
}

.overlay {
  font-size:  large;
  border:  1px solid black;
  width:  70vw;
  max-width: 400px;
  height: 75vh;
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:  30px;
  margin:  0 auto;
  background-color: white;
}

.close-button {
  text-align: right;
}

.open-button {
  padding: 10px;
  cursor: pointer;
}

.large-message {
  padding: 20px;
  font-size: x-large;
}

.medium-message {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.alert-wrapper {
  width:  250px;
  height: 30px;
  padding-top: 10px;
  font-size: large;
  font-weight: 700;
  background-color: #00338D;
  color: white;
  border-radius: 15px;
  position: absolute;
  z-index: 999;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-button {
  background-color: #00338D;
  color:  white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  min-width:  50px;
  min-height:  25px;
  max-height:  25px;
}

@-webkit-keyframes letterAnimation {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes letterAnimation {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}